<div class="mb-2">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>E-mail</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of accountList | async">
                <td>
                    {{a.email}}
                </td>
                <td>
                    {{a.username}}
                </td>
                <td>
                    {{a.firstName}}
                </td>
                <td>
                    {{a.lastName}}
                </td>
                <td>
                    {{a.roles}}
                </td>
                <td>
                    <button class="btn btn-primary" (click)="openAccount(a.slug)">Modify</button>
                </td>
                <td>
                    <button class="btn btn-warning" (click)="deleteAccount(a.slug)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<app-message-box #confirmDelete title="Delete Account" icon="Question" buttons="YesNo"
    message="Are you sure you want to delete this account?"></app-message-box>