@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$primary-color: #4575F0;
$shade-ligher: #6390FF;
$shade-darker: #1F44A3;

$complementary-dark: #A3780F;
$complementary-light: #F0BE46;

$danger-color: #d14156;
$success-color: #62d178;
$warning-color: #d1b769;

$theme-colors: (
    "dark": $complementary-dark,
    "primary": $primary-color,
    "secondary": $complementary-light,
    "info": $shade-ligher,
    "warning": $warning-color,
    "danger": $danger-color,
    "success": $success-color
);
