/* You can add global styles to this file, and also import other style files */
@import "theme/custom.scss";

@import "../node_modules/bootstrap/scss/bootstrap.scss"; 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a:link {
    color: $shade-darker;
    text-decoration: none;
    background-color: transparent;
}

a:visited {
    color: $complementary-light;
}

.form-control {
    border: 1px solid $shade-darker;
}

.window {
    border: 2px ridge $complementary-dark;
    border-radius: 0.5rem;
    box-shadow: 5px 8px 10px grey;
}
