<ng-template #modal>
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title">{{title}}</h6>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <h2 *ngIf="icon == 'Info'" class="text-info"><i class="fas fa-info-circle"></i></h2>
                <h2 *ngIf="icon=='Question'" class="text-primary"><i class="fas fa-question-circle"></i></h2>
                <h2 *ngIf="icon=='Warning'" class="text-warning"><i class="fas fa-exclamation-triangle"></i>
                </h2>
                <h2 *ngIf="icon=='Error'" class="text-danger"><i class="fas fa-bomb"></i></h2>
            </div>
            <div class="text-center">
                {{message}}
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" *ngIf="buttons=='OK' || buttons=='OKCancel'"
                id="modalButtonOk" (click)="close('OK')">OK</button>
            <button type="button" class="btn btn-primary" *ngIf="buttons=='YesNo' || buttons=='YesNoCancel'"
                id="modalButtonYes" (click)="close('Yes')">Yes</button>
            <button type="button" class="btn btn-secondary" *ngIf="buttons=='YesNo' || buttons=='YesNoCancel'"
                id="modalButtonNo" (click)="close('No')">No</button>
            <button type="button" class="btn btn-secondary" *ngIf="buttons=='OKCancel' || buttons=='YesNoCancel'"
                id="modalButtonCancel" (click)="close('Cancel')">Cancel</button>
        </div>
    </div>
</ng-template>