@import "../../../theme/default/theme.scss";

a {
    color: $shade-lighter
}

a:hover {
    color: $complementary-b
}

.menu {
    background-color: $shade-darkest;
    color: #FFF;
    height: 100vh;
}

.menu img {
    width: 65%;
}

.menu-option {
    height: 2rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border-radius: 0.5rem;
    display: block;
    padding-left: 0.5rem;
}

.menu-option:hover {
    color: $shade-lighter;
}

.active-menu a {
    color: $shade-lighter;
}